# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data generated locally
data/raw/*
data/processed/*

# Databases
*.db
*.sqlite
*.sqlite3

# Qdrant local storage
qdrant_storage/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db